In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [10]:
# default index series
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
# labeled index series
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
# usage of NumPy array in a pandas series
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [13]:
# usage of dictionary in a pandas series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
ser1 = pd.Series([1, 2, 3, 4], ['USA', 'Canada', 'France', 'Germany'])

In [17]:
# getting value from pandas series by label
ser1['USA']

1

In [21]:
ser2 = pd.Series([5, 6, 7, 8], ['USA', 'Japan', 'Canada', 'France'])

In [24]:
# addition of two pandas series 
# Germany and Japan has Not a Number values, 
# because they appear in only one of the series
ser1 + ser2

Canada      9.0
France     11.0
Germany     NaN
Japan       NaN
USA         6.0
dtype: float64